# Usage example of issmoex package

In [1]:
# Installation of package
#!pip install ISSMOEX==1.1.1.5

In [2]:
# Initialization 
from issmoex import ISSMOEX
iss = ISSMOEX()

The structure of ISS MOEX suggests the segmentation according to engine and markets. Each engine has specific set of markets.

In [3]:
print('ISS engines:')
print(iss.engines)

print('\nISS engines and corresponding markets:')
print(iss.engines_markets)

ISS engines:
     id           name                             title
0     1          stock  Фондовый рынок и рынок депозитов
1     2          state            Рынок ГЦБ (размещение)
2     3       currency                    Валютный рынок
3     4        futures                     Срочный рынок
4     5      commodity                    Товарный рынок
5     6  interventions              Товарные интервенции
6     7       offboard                       ОТС-система
7     9           agro                              Агро
8  1012            otc                          ОТС с ЦК
9  1282         quotes                             Квоты

ISS engines and corresponding markets:
{'stock': ['index', 'shares', 'bonds', 'ndm', 'otc', 'ccp', 'deposit', 'repo', 'qnv', 'mamc', 'foreignshares', 'foreignndm', 'moexboard', 'gcc', 'credit', 'nonresndm', 'nonresrepo', 'nonresccp', 'standard', 'classica'], 'state': ['index', 'bonds', 'repo', 'ndm'], 'currency': ['selt', 'futures', 'index', 'otc'], 'futures': ['main', 'forts', 'options', 'fortsiqs', 'optionsiqs'], 'commodity': ['futures'], 'interventions': ['grain'], 'offboard': ['bonds'], 'agro': ['sugar', 'auctions', 'buyauctions'], 'otc': ['shares', 'bonds', 'sharesndm', 'ndm'], 'quotes': ['bonds']}

For example, there is an interest in the assets at shares market. Hence, we choose engine = `stock` and market = `shares`.

In [4]:
shares_market = iss.securities_market(engine = 'stock', market = 'shares')
shares_market.head()

,SECID,BOARDID,SHORTNAME,PREVPRICE,LOTSIZE,FACEVALUE,STATUS,BOARDNAME,DECIMALS,SECNAME,...,PREVDATE,ISSUESIZE,ISIN,LATNAME,REGNUMBER,PREVLEGALCLOSEPRICE,CURRENCYID,SECTYPE,LISTLEVEL,SETTLEDATE
0,ABIO,TQBR,iАРТГЕН ао,99.500,10,0.10,A,Т+: Акции и ДР - безадрес.,2,"ПАО ""Артген""",...,2024-06-10,92645451,RU000A0JNAB6,ARTGEN ao,1-01-08902-A,99.300,SUR,1,2,2024-06-13
1,ABRD,TQBR,АбрауДюрсо,279.000,10,1.00,A,Т+: Акции и ДР - безадрес.,1,Абрау-Дюрсо ПАО ао,...,2024-06-10,98000184,RU000A0JS5T7,Abrau-Durso ao,1-02-12500-A,279.000,SUR,1,3,2024-06-13
2,ACKO,TQBR,АСКО ао,3.580,100,1.00,A,Т+: Акции и ДР - безадрес.,2,АСКО ПАО ао,...,2024-06-10,536000000,RU000A0JXS91,ASKO ao,1-01-52065-Z,3.580,SUR,1,3,2024-06-13
3,AFKS,TQBR,Система ао,26.191,100,0.09,A,Т+: Акции и ДР - безадрес.,3,"АФК ""Система"" ПАО ао",...,2024-06-10,9650000000,RU000A0DQZE3,AFK Sistema,1-05-01669-A,25.915,SUR,1,1,2024-06-13
4,AFLT,TQBR,Аэрофлот,57.800,10,1.00,A,Т+: Акции и ДР - безадрес.,2,Аэрофлот-росс.авиалин(ПАО)ао,...,2024-06-10,3975771215,RU0009062285,Aeroflot,1-01-00010-A,57.200,SUR,1,1,2024-06-13

In [5]:
# History prices of SBER
hist_price_sber = iss.history_prices(engine = 'stock',market = 'shares',isin = 'SBER',date = '2024-01-01',show_progress=True)
hist_price_sber.head()

Fetching data: 100%|██████████████████████████████| 1/1 [00:00<00:00,  4.78it/s]

,BOARDID,TRADEDATE,SHORTNAME,SECID,NUMTRADES,VALUE,OPEN,LOW,HIGH,LEGALCLOSEPRICE,...,MARKETPRICE2,MARKETPRICE3,ADMITTEDQUOTE,MP2VALTRD,MARKETPRICE3TRADESVALUE,ADMITTEDVALUE,WAVAL,TRADINGSESSION,CURRENCYID,TRENDCLSPR
0,TQBR,2024-01-03,Сбербанк,SBER,50912,5.631305e+09,271.90,271.00,274.70,273.64,...,273.48,273.48,NaN,4.994800e+09,4.994800e+09,NaN,0,3,SUR,1.38
1,TQBR,2024-01-04,Сбербанк,SBER,33045,3.218188e+09,274.67,273.70,275.48,274.04,...,274.42,274.42,NaN,2.822724e+09,2.822724e+09,NaN,0,3,SUR,-0.16
2,TQBR,2024-01-05,Сбербанк,SBER,26234,2.634960e+09,274.30,272.80,274.69,273.46,...,273.46,273.46,NaN,2.246293e+09,2.246293e+09,NaN,0,3,SUR,-0.18
3,TQBR,2024-01-08,Сбербанк,SBER,70828,5.924626e+09,273.60,273.53,277.00,275.81,...,275.61,275.61,NaN,5.204970e+09,5.204970e+09,NaN,0,3,SUR,1.15
4,TQBR,2024-01-09,Сбербанк,SBER,40508,5.601231e+09,276.97,274.71,278.00,276.00,...,275.71,275.71,NaN,4.962470e+09,4.962470e+09,NaN,0,3,SUR,-0.53

Suppose there is a necessity to load the history prices for several shares: SBER, GAZP and AFKS.

In [6]:
isins = ['SBER','GAZP','AFKS']
hist_prices = iss.history_prices(engine = 'stock',market = 'shares',isin = isins,date = '2024-01-01',show_progress=True)
hist_prices.head()

Fetching data: 100%|██████████████████████████████| 3/3 [00:00<00:00, 11.57it/s]

,BOARDID,TRADEDATE,SHORTNAME,SECID,NUMTRADES,VALUE,OPEN,LOW,HIGH,LEGALCLOSEPRICE,...,MARKETPRICE2,MARKETPRICE3,ADMITTEDQUOTE,MP2VALTRD,MARKETPRICE3TRADESVALUE,ADMITTEDVALUE,WAVAL,TRADINGSESSION,CURRENCYID,TRENDCLSPR
0,TQBR,2024-01-03,Сбербанк,SBER,50912,5.631305e+09,271.90,271.00,274.70,273.64,...,273.48,273.48,NaN,4.994800e+09,4.994800e+09,NaN,0,3,SUR,1.38
1,TQBR,2024-01-04,Сбербанк,SBER,33045,3.218188e+09,274.67,273.70,275.48,274.04,...,274.42,274.42,NaN,2.822724e+09,2.822724e+09,NaN,0,3,SUR,-0.16
2,TQBR,2024-01-05,Сбербанк,SBER,26234,2.634960e+09,274.30,272.80,274.69,273.46,...,273.46,273.46,NaN,2.246293e+09,2.246293e+09,NaN,0,3,SUR,-0.18
3,TQBR,2024-01-08,Сбербанк,SBER,70828,5.924626e+09,273.60,273.53,277.00,275.81,...,275.61,275.61,NaN,5.204970e+09,5.204970e+09,NaN,0,3,SUR,1.15
4,TQBR,2024-01-09,Сбербанк,SBER,40508,5.601231e+09,276.97,274.71,278.00,276.00,...,275.71,275.71,NaN,4.962470e+09,4.962470e+09,NaN,0,3,SUR,-0.53

Also ISS provides the information about best offer and best bid with time lag of 15 minutes for different boards

In [7]:
iss.market_data(engine = 'stock',market = 'shares',isin = 'SBER')

,SECID,BOARDID,BID,BIDDEPTH,OFFER,OFFERDEPTH,SPREAD,BIDDEPTHT,OFFERDEPTHT,OPEN,...,SEQNUM,SYSTIME,CLOSINGAUCTIONPRICE,CLOSINGAUCTIONVOLUME,ISSUECAPITALIZATION,ISSUECAPITALIZATION_UPDATETIME,ETFSETTLECURRENCY,VALTODAY_RUR,TRADINGSESSION,TRENDISSUECAPITALIZATION
0,SBER,SMAL,NaN,NaN,NaN,NaN,0,0,0,316.93,...,20240612000500,2024-06-12 00:05:00,NaN,NaN,6860332074400,23:48:56,NaN,13391,NaN,11225212960
1,SBER,SPEQ,NaN,NaN,NaN,NaN,0,0,0,NaN,...,20240612000500,2024-06-12 00:05:00,NaN,NaN,6860332074400,23:48:56,NaN,0,NaN,11225212960
2,SBER,TQBR,NaN,NaN,NaN,NaN,0,0,0,317.50,...,20240612000500,2024-06-12 00:05:00,317.9,68340.0,6860332074400,23:48:56,NaN,6377952743,NaN,11225212960

Now, it's unclear what is `BIDDEPTHT` feature. The function - `tables_description` can help to get description for every table

In [8]:
descriptions = iss.tables_description(engine = 'stock', market = 'shares')
marketdata_desc = descriptions['marketdata']
marketdata_desc.head(20)

,id,name,short_title,title,is_ordered,is_system,is_hidden,trend_by,is_signed,has_percent,type,precision,is_linked
0,1866,SECID,Код инструмента,Идентификатор финансового инструмента,1,0,0,NaN,0,0,string,NaN,0
1,1865,BOARDID,Код режима,Идентификатор режима торгов,0,0,0,NaN,0,0,string,NaN,0
2,1868,BID,Спрос,Лучшая котировка на покупку,0,0,0,NaN,0,0,number,NaN,0
3,1869,BIDDEPTH,Лотов на покупку по лучшей,"Объем заявок на покупку по лучшей котировке, в...",0,0,0,NaN,0,0,number,0.0,0
4,1872,OFFER,Предложение,Лучшая котировка на продажу,0,0,0,NaN,0,0,number,NaN,0
5,1873,OFFERDEPTH,Лотов на продажу по лучшей,"Объем заявок на продажу по лучшей котировке, в...",0,0,0,NaN,0,0,number,0.0,0
6,1914,SPREAD,Спред,Разница между лучшей котировкой на продажу и п...,0,0,0,NaN,0,0,number,NaN,0
7,1870,BIDDEPTHT,Совокупный спрос,Объем всех заявок на покупку в очереди Торгово...,0,0,0,NaN,0,0,number,0.0,0
8,1874,OFFERDEPTHT,Совокупное предложение,Объем всех заявок на продажу в очереди Торгово...,0,0,0,NaN,0,0,number,0.0,0
9,1876,OPEN,Первая,Цена первой сделки,0,0,0,NaN,0,0,number,NaN,0
10,1878,LOW,Минимум,Минимальная цена сделки,0,0,0,NaN,0,0,number,NaN,0
11,1877,HIGH,Максимум,Максимальная цена сделки,0,0,0,NaN,0,0,number,NaN,0
12,1879,LAST,Последняя,Цена последней сделки,0,0,0,1915.0,0,0,number,NaN,0
13,1913,LASTCHANGE,"Изменение последней, руб.",Изменение цены последней сделки к цене предыду...,0,0,0,1913.0,0,0,number,NaN,0
14,1881,LASTCHANGEPRCNT,"Изменение последней, %",Изменение цены последней сделки к цене предыду...,1,0,0,1881.0,1,1,number,2.0,0
15,1884,QTY,Лотов в последней,"Объем последней сделки, в лотах",0,0,0,NaN,0,0,number,0.0,0
16,1890,VALUE,Объем в последней,"Объем последней сделки, в руб.",0,0,0,NaN,0,0,number,NaN,0
17,1891,VALUE_USD,"Объем последней, дол. США","Объем последней сделки, дол. США",0,0,1,NaN,0,0,number,2.0,0
18,1892,WAPRICE,Ср.взвеш.,Средневзвешенная цена,0,0,0,1893.0,0,0,number,NaN,0
19,1883,LASTCNGTOLASTWAPRICE,Изменение к средневзвешенной цене,Изменение цены последней сделки к средневзвеше...,0,0,1,1883.0,0,0,number,NaN,0

ISS also provides information about different indecies at MOEX and their components.

In [9]:
indices = iss.indices()
indices.head()

index = 'IMOEX'
IMOEX = iss.index_components(index = index, date = '2024-06-11')
IMOEX.head(20)

   indexid   tradedate ticker  shortnames secids  weight  tradingsession
0    IMOEX  2024-06-11   AFKS  Система ао   AFKS    0.89               3
1    IMOEX  2024-06-11   AFLT    Аэрофлот   AFLT    0.83               3
2    IMOEX  2024-06-11   AGRO    AGRO-гдр   AGRO    0.86               3
3    IMOEX  2024-06-11   ALRS   АЛРОСА ао   ALRS    1.34               3
4    IMOEX  2024-06-11   BSPB      БСП ао   BSPB    0.45               3
5    IMOEX  2024-06-11   CBOM      МКБ ао   CBOM    0.63               3
6    IMOEX  2024-06-11   CHMF    СевСт-ао   CHMF    2.51               3
7    IMOEX  2024-06-11   ENPG  ЭН+ГРУП ао   ENPG    0.43               3
8    IMOEX  2024-06-11   FEES     Россети   FEES    0.42               3
9    IMOEX  2024-06-11   FIVE    FIVE-гдр   FIVE    1.11               3
10   IMOEX  2024-06-11   FLOT  Совкомфлот   FLOT    0.60               3
11   IMOEX  2024-06-11   GAZP  ГАЗПРОМ ао   GAZP    8.67               3
12   IMOEX  2024-06-11   GLTR    GLTR-гдр   GLTR    0.25               3
13   IMOEX  2024-06-11   GMKN   ГМКНорНик   GMKN    6.10               3
14   IMOEX  2024-06-11   HYDR    РусГидро   HYDR    0.23               3
15   IMOEX  2024-06-11   IRAO  ИнтерРАОао   IRAO    1.51               3
16   IMOEX  2024-06-11   LKOH      ЛУКОЙЛ   LKOH   15.19               3
17   IMOEX  2024-06-11   MAGN         ММК   MAGN    1.32               3
18   IMOEX  2024-06-11   MGNT   Магнит ао   MGNT    1.31               3
19   IMOEX  2024-06-11   MOEX    МосБиржа   MOEX    1.33               3

Also, ISS MOEX provides the time schedule of bonds' coupons and amortization payments. Let's conisder based on following example:

In [10]:
bonds_market = iss.securities_market(engine = 'stock', market = 'bonds')
bonds_market.head()

,SECID,BOARDID,SHORTNAME,PREVWAPRICE,YIELDATPREVWAPRICE,COUPONVALUE,NEXTCOUPON,ACCRUEDINT,PREVPRICE,LOTSIZE,...,REGNUMBER,CURRENCYID,ISSUESIZEPLACED,LISTLEVEL,SECTYPE,COUPONPERCENT,OFFERDATE,SETTLEDATE,LOTVALUE,FACEVALUEONSETTLEDATE
0,KG000A3LSC78,TQCB,Кыргыз. 01,98.999,16.99,3.88,2024-06-25,3.434903,98.999,1,...,NaN,SUR,NaN,3,6,15.50,NaN,2024-06-13,100.0,100.0
1,KG000A3LSJ06,TQCB,Кыргыз. 02,97.410,17.20,3.63,2024-06-26,3.101389,97.050,1,...,NaN,SUR,NaN,3,6,14.50,NaN,2024-06-13,100.0,100.0
2,RU000A0JQ7Z2,TQCB,РЖД-19 обл,99.830,10.29,39.14,2024-07-08,33.770000,99.860,1,...,4-19-65045-D,SUR,10000000.0,2,6,7.85,NaN,2024-06-13,1000.0,1000.0
3,RU000A0JQAM6,TQCB,ДОМ.РФ15об,106.800,-5.58,93.26,2024-09-15,45.620000,106.800,1,...,4-15-00739-A,SUR,7000000.0,1,6,18.50,NaN,2024-06-13,1000.0,1000.0
4,RU000A0JQRD9,TQCB,РЖД-23 обл,95.530,16.54,39.14,2024-07-18,31.620000,96.050,1,...,4-23-65045-D,SUR,15000000.0,2,6,7.85,NaN,2024-06-13,1000.0,1000.0

In [11]:
isins = bonds_market['SECID'].iloc[:20].to_list()
bonds_coupons = iss.bonds_coupons(isin = isins)
bonds_amort = iss.bonds_amort(isin = isins)

Fetching data: 100%|████████████████████████████| 20/20 [00:01<00:00, 15.98it/s]
Fetching data: 100%|████████████████████████████| 20/20 [00:03<00:00,  6.17it/s]

In [12]:
bonds_coupons.head()

,isin,name,issuevalue,coupondate,recorddate,startdate,initialfacevalue,facevalue,faceunit,value,valueprc,value_rub,secid,primary_boardid
0,RU000A0JS4Z7,ВЭБ.РФ об. сер. 21,15000000000,2012-09-11,NaT,2012-03-13,1000,1000,RUB,41.88,8.4,41.88,RU000A0JS4Z7,TQCB
1,RU000A0JS4Z7,ВЭБ.РФ об. сер. 21,15000000000,2013-03-12,NaT,2012-09-11,1000,1000,RUB,41.88,8.4,41.88,RU000A0JS4Z7,TQCB
2,RU000A0JS4Z7,ВЭБ.РФ об. сер. 21,15000000000,2013-09-10,NaT,2013-03-12,1000,1000,RUB,41.88,8.4,41.88,RU000A0JS4Z7,TQCB
3,RU000A0JS4Z7,ВЭБ.РФ об. сер. 21,15000000000,2014-03-11,NaT,2013-09-10,1000,1000,RUB,41.88,8.4,41.88,RU000A0JS4Z7,TQCB
4,RU000A0JS4Z7,ВЭБ.РФ об. сер. 21,15000000000,2014-09-09,NaT,2014-03-11,1000,1000,RUB,41.88,8.4,41.88,RU000A0JS4Z7,TQCB

In [13]:
bonds_amort.head()

,isin,name,issuevalue,amortdate,facevalue,initialfacevalue,faceunit,valueprc,value,value_rub,data_source,secid,primary_boardid
0,KG000A3LSJ06,Республика Кыргызстан 02,1000000000,2025-12-26,100,100,RUB,100.0,100,100.00,maturity,KG000A3LSJ06,TQCB
0,RU000A0JQAM6,ДОМ.РФ (АО) обл. сер. А15,7000000000,2028-09-15,1000,1000,RUB,100.0,1000,1000.00,maturity,RU000A0JQAM6,TQCB
0,RU000A0JRZ74,ПАО ОТКРЫТИЕ ФК Банк БО-03,18000000000,2025-07-16,1000,1000,RUB,100.0,1000,1000.00,maturity,RU000A0JRZ74,TQCB
0,RU000A0JS4J1,Запад.скор.диаметр АО об.03,5000000000,2032-02-06,1000,1000,RUB,100.0,1000,1000.00,maturity,RU000A0JS4J1,TQCB
0,KG000A3LSC78,Республика Кыргызстан 01,1000000000,2025-12-25,100,100,KGS,100.0,100,102.33,maturity,KG000A3LSC78,TQCB

The package provides an opportunity to operate with custom urls from ISS.

In [14]:
# Accrued interest on the end of month
# Single page version without 
url = 'https://iss.moex.com/iss/statistics/engines/stock/markets/bonds/monthendaccints.html'
iss.iss_url(url)

,tradedate,secid,name,shortname,regnumber,accint
0,2024-03-31,AT0000A2UF10,Raiffeisen Bank Int AG,Raiff BIAG,NaN,NaN
1,2024-03-31,CH0248531110,VTB CAPITAL S.A. 24 CHF,VTB-24 CHF,NaN,88.803125
2,2024-03-31,CH0419041618,RZD CAPITAL PLC 0.898 03/10/25,RZD-25 CHF,NaN,22.200556
3,2024-03-31,CH0419041634,RZD CAPITAL PLC 03/04/28,RZD-28 CHF,NaN,59.418056
4,2024-03-31,CH1100259816,RZD Capital PLC VAR UNDT,RZD-p CHF,NaN,120.225694
...,...,...,...,...,...,...
3033,2024-03-31,XS2420560869,BCS SP Plc Series 239,BCS01/25,NaN,NaN
3034,2024-03-31,XS2423361190,BCS SP Plc Series 240,BCS02/27-4,NaN,NaN
3035,2024-03-31,XS2429208486,BCS SP Plc Series 243,BCS05/25,NaN,NaN
3036,2024-03-31,XS2439218640,BCS SP Plc Series 244,BCS06/25-B,NaN,NaN
3037,2024-03-31,XS2446844321,BCS SP Plc Series 245,BCS06/25-C,NaN,NaN

In [15]:
# Market Data of Yields
# Example of custom url function iterable over defined number of parameters
url_func = lambda isin: f'https://iss.moex.com/iss/engines/stock/markets/bonds/securities/{isin}.html?iss.only=marketdata_yields'
bonds_market_yields = iss.iss_url(url = url_func, parameters = isins)
bonds_market_yields.head()

,SECID,BOARDID,PRICE,YIELDDATE,ZCYCMOMENT,YIELDDATETYPE,EFFECTIVEYIELD,DURATION,ZSPREADBP,GSPREADBP,...,DURATIONWAPRICE,IR,ICPI,BEI,CBR,YIELDTOOFFER,YIELDLASTCOUPON,TRADEMOMENT,SEQNUM,SYSTIME
0,RU000A0JS4K9,TQCB,105.99,2032-02-06,2024-06-11 16:36:06,MATDATE,8.9387,1992,-618,-629,...,1992.0,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-11 16:36:37,20240611165100,2024-06-11 16:51:00
0,RU000A0JS4Z7,TQCB,95.20,2032-02-17,2024-06-11 14:16:51,MATDATE,10.4502,1989,-463,-471,...,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-11 14:16:52,20240611143100,2024-06-11 14:31:00
0,RU000A0JS4L7,TQCB,116.30,2032-02-06,2024-06-10 18:39:59,MATDATE,7.1708,2033,-794,-804,...,2033.0,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-06 23:59:59,20240611062613,2024-06-11 06:26:13
0,KG000A3LSC78,TQCB,99.00,2025-12-25,2024-06-11 10:17:53,MATDATE,16.9939,492,106,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-11 10:17:57,20240611103200,2024-06-11 10:32:00
0,RU000A0JSQ58,TQCB,99.99,2024-07-31,2024-06-11 11:39:58,OFFER,7.9261,47,-702,-702,...,47.0,NaN,NaN,NaN,NaN,7.9261,NaN,2024-06-11 11:47:30,20240611120200,2024-06-11 12:02:00

In [16]:
date = '2024-01-01'
url_func = lambda isin: f'https://iss.moex.com/iss/history/engines/stock/markets/bonds/yields/{isin}.html?from={date}&limit=100'
bonds_market_yields_history = iss.iss_url(url = url_func, 
                                          parameters = isins,
                                          pages = True, #to iterate over all page entries
                                          show_progress = True, 
                                          records_per_pages = 100 )#depicted number of rows at one iteration)
bonds_market_yields_history.head()

Fetching data: 100%|████████████████████████████| 20/20 [00:01<00:00, 14.39it/s]

,TRADEDATE,SECID,BOARDID,YIELDDATE,YIELDDATETYPE,PRICE,ACCINT,ZCYCMOMENT,EFFECTIVEYIELD,DURATION,...,WAPRICE,EFFECTIVEYIELDWAPRICE,DURATIONWAPRICE,IR,ICPI,BEI,CBR,YIELDTOOFFER,YIELDLASTCOUPON,TRADEMOMENT
0,2024-01-03,RU000A0JRZ74,TQCB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-04,RU000A0JRZ74,TQCB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-05,RU000A0JRZ74,TQCB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-01-08,RU000A0JRZ74,TQCB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-01-09,RU000A0JRZ74,TQCB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The package has docstring description. For conveince use the following query to get information about function and
variables

In [17]:
?iss.iss_url

### Advantages of package

The package has several advantages: 

1. Simplifies work with ISS MOEX, as most frequent queries are defined in the easy reading functions 
2. Signficantly speed up the urls requests, because of asynchronous framework usage 
3. Allows to work with custom ISS requests, accounting for all specificity of the requests


### Time difference with usual requests 

The comparision will be done with `pd.read_html()` method, which is the easiest method to interact with html tables. 

The design of experiment will be following: 

1. 20 stocks from IMOEX 
2. History prices from 2023-01-01

In [18]:
IMOEX.sort_values(by = 'weight',ascending = False, inplace = True)
stocks = IMOEX['secids'].iloc[:20].to_list()
IMOEX.head(20)

   indexid   tradedate ticker  shortnames secids  weight  tradingsession
16   IMOEX  2024-06-11   LKOH      ЛУКОЙЛ   LKOH   15.19               3
34   IMOEX  2024-06-11   SBER    Сбербанк   SBER   14.05               3
11   IMOEX  2024-06-11   GAZP  ГАЗПРОМ ао   GAZP    8.67               3
13   IMOEX  2024-06-11   GMKN   ГМКНорНик   GMKN    6.10               3
41   IMOEX  2024-06-11   TATN  Татнфт 3ао   TATN    6.00               3
25   IMOEX  2024-06-11   NVTK  Новатэк ао   NVTK    3.65               3
40   IMOEX  2024-06-11  SNGSP  Сургнфгз-п  SNGSP    3.43               3
39   IMOEX  2024-06-11   SNGS    Сургнфгз   SNGS    3.21               3
35   IMOEX  2024-06-11  SBERP  Сбербанк-п  SBERP    2.71               3
29   IMOEX  2024-06-11   PLZL       Полюс   PLZL    2.60               3
6    IMOEX  2024-06-11   CHMF    СевСт-ао   CHMF    2.51               3
31   IMOEX  2024-06-11   ROSN    Роснефть   ROSN    2.34               3
28   IMOEX  2024-06-11   PIKK      ПИК ао   PIKK    1.84               3
24   IMOEX  2024-06-11   NLMK     НЛМК ао   NLMK    1.67               3
15   IMOEX  2024-06-11   IRAO  ИнтерРАОао   IRAO    1.51               3
33   IMOEX  2024-06-11   RUAL    РУСАЛ ао   RUAL    1.45               3
26   IMOEX  2024-06-11   OZON    OZON-адр   OZON    1.40               3
3    IMOEX  2024-06-11   ALRS   АЛРОСА ао   ALRS    1.34               3
19   IMOEX  2024-06-11   MOEX    МосБиржа   MOEX    1.33               3
17   IMOEX  2024-06-11   MAGN         ММК   MAGN    1.32               3

In [19]:
## Function for downloading shares' history in standard manner
import pandas as pd 
from tqdm import tqdm
def shares_history(isin): 
    
    df_full = pd.DataFrame()
    cond = True
    k=0
    while cond:    
        url = 'https://iss.moex.com/iss/history/engines/stock/markets/shares/securities/{}.html?iss.only=history&marketprice_board=1&from=2023-01-01&limit=100&start={}'.format(isin,k)
        df = pd.read_html(url,encoding = 'utf-8')[0]
        df.columns = [i.split(' ')[0] for i in df.columns]
        if df.empty: 
            cond = False
           
        else:
            df_full = pd.concat([df,df_full],axis=0)
            k+=100
    df_full = df_full.drop_duplicates()
    return df_full

In [20]:
## Execution of standard download

import time

start_time_pd = time.time()
usual_history = pd.DataFrame()
for j in tqdm(range(len(stocks))):
    stock = stocks[j]
    stock_df = shares_history(stock)
    usual_history = pd.concat([usual_history,stock_df],axis=0)
end_time_pd = time.time() - start_time_pd

100%|███████████████████████████████████████████| 20/20 [00:27<00:00,  1.36s/it]

In [21]:
## Execution of package function

start_time_lib = time.time()
hist_prices = iss.history_prices(engine = 'stock',market = 'shares',isin = stocks,date = '2023-01-01',show_progress=True)
hist_prices.head()

end_time_lib = time.time() - start_time_lib

Fetching data: 100%|████████████████████████████| 20/20 [00:03<00:00,  6.43it/s]

In [24]:
print(f'Execution time of standard requests: {round(end_time_pd,3)} seconds')
print(f'Execution time of package function: {round(end_time_lib,3)} seconds')

Execution time of standard requests: 27.137 seconds
Execution time of package function: 3.114 seconds

Thus, the package function **is 9 times faster** than the standard request. This advatange was reached by using asynchronous framework